<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Keyur's Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src="./js/angular.js"></script>
    <script src="./js/portfolio.js"></script>
  </head>
  <body ng-app="portfolio" ng-controller="portfolioController">
    <nav class="container-fluid navigation">
      <div class="left-navbar">
        <ul>
          <li ng-click="homeClicked()"><i class="fa fa-home fa-2x" aria-hidden="true" ng-class="{active: !homeshow}"></i></li>
        </ul>
      </div>
      <div class="right-navbar">
        <ul>
          <li ng-click="aboutClicked()" ng-class="{active: !aboutshow}">about</li>
          <li>/</li>
          <li ng-click="portfolioClicked()" ng-class="{active: !portfolioshow}">portfolio</li>
          <li>/</li>
          <li ng-click="letschateClicked()" ng-class="{active: !letschatshow}">let's chat</li>
        </ul>
      </div>
    </nav>

    <!-- Home Container -->
    <div ng-show="!homeshow" class="container greeting">
      <h1 class="name">K &nbsp E &nbsp Y &nbsp U &nbsp R &nbsp; &nbsp; P &nbsp A &nbsp T &nbsp E &nbsp L</h1>
      <p>_______________________________________________________________________</p>
      <h2 class="position">Full Stack Developer</h2>
    </div>

    <!-- About Container -->
    <div ng-show="!aboutshow" class="container-fluid">
      <div class="row col-lg-6 col-md-6 col-sm-12">
        <img class="about-img" ng-src="img/about_letters.png" alt="about">
      </div>
      <div class="row col-lg-6 col-sm-12 about-text">
        <p>My name is Keyur Patel. <br>I graduated from Georgia Tech as an Industrial Engineer. Later, I worked as a management consultant where I had the opportunity to travel around the world and immerse myself into different cultures. I have over 2 years of experience in product management and recently, have added full stack web development to my skillset. I am passionate about building things that solve simple problems we face in everyday life. In my free time, I like to run, challenge others in a friendly game of ping pong and explore the ever changing field of programming.</p>
      </div>
    </div>

    <!-- Portfolio Container -->
    <div ng-show="!portfolioshow" class="container-fluid">
      <div class="portfolios row col-lg-9 col-md-12 col-sm-12 col-xs-12">
        <div class="projects cf">
          <div class="projects-text">
            <a href="http://grillber.com" target="_blank"><h3>Grillber</h3></a>
            <p>A grill rental service without hassles</p>
          </div>
          <img class="projectsimages" ng-src="img/grillber.png" alt="grillber">
        </div>
        <div class="projects cf">
          <div class="projects-text">
            <a href="http://airnavatl.com" target="_blank"><h3>AirNavAtl</h3></a>
            <p>A web app to navigate inside of airport</p>
          </div>
          <div class="projects-picture">
            <img class="projectsimages" ng-src="img/airnavatl.png" alt="airnavatl">
          </div>
        </div>
        <div class="projects cf">
          <div class="projects-text">
            <a href="http://tripgoalie.com" target="_blank"><h3>TripGoalie</h3></a>
            <p>An app to facilitate safe travel on MARTA</p>
          </div>
          <img class="projectsimages" ng-src="img/tripgoalie.png" alt="fabulari">
        </div>
        <div class="projects cf">
          <div class="projects-text">
            <a href="http://fabulari.org" target="_blank"><h3>Fabulari</h3></a>
            <p>Communication app for kids with disablities</p>
          </div>
          <img class="projectsimages" ng-src="img/fabulari.png" alt="tripgoalie">
        </div>
      </div>
      <div class="row col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <img class="projects-img" ng-src="img/projects_letters.png" alt="about">
      </div>
    </div>

    <!-- Let's Chat Container -->

    <div ng-show="!letschatshow" class="container-fluid">
      <div class="row col-lg-3 letschat">
        <img class="letschat-img" ng-src="img/chat_letters.png" alt="about">
      </div>
      <div class="row col-lg-8">
        <div class="letschatcontainer">
          <a href="mailto:ekeyur@gmail.com" target="_blank"><i class="envelope fa fa-envelope" aria-hidden="true"></i></a>
          <a href="https://www.linkedin.com/in/ekeyur" target="_blank"><i class="linkedin fa fa-linkedin-square"></i></a>
          <a href="https://github.com/ekeyur" target="_blank"><i class="github fa fa-github-square"></i></a>
          <a href="Keyur_Patel_2017.pdf" target="_blank"><i class="resume fa fa-file-text-o"></i></a>
          <a href="https://medium.com/@ekeyur" target="_blank"><i class="medium fa fa-medium"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
